<div class="container-fluid text-center" >
    <p>Bird watching is powered by © <a class="text-decoration-none" href="https://getbootstrap.com/">Bootstrap</a></p>
    <p>Authors: Zhecheng Zhao, Wanyou Wang</p>
</div>
