<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/login.css'>


</head>
<style>

    body { background-image: linear-gradient(
            to right bottom, #f8c751,
            #f4b440, #f0a130, #eb8d23, #e67818, #f4733f, #fd725e, #ff757b,
            #ff98b7, #f9bde2, #f4e1f9, #ffffff);
    }

</style>
<body>
<form action="" method="POST" id="login_form">
    <div class="wall">
        <div class="form">
            <div class="imgBx"><img src="/image/tinybird.gif"></div>
            <div class="formBx">
                <div class="formBx-c">
                    <h1>Bird Watching</h1>
                    <h3>NICKNAME</h3>
                    <input class="text" type="text" name="nickname">
                    <input class="btn" type="submit" value="Login" onclick="saveInIndexedDB()">
                </div>
            </div>
        </div>
    </div>
    </div>
</form>
</body>
</html>
<script>
    function saveInIndexedDB() {
        //TODO save username in the web persistance
        indexedDB.open("bird_watching", 1)
        indexedDB.onerror = function(event) {
            console.log("Error opening database.");
        };
        indexedDB.onupgradeneeded = function(event) {
            const db = event.target.result;
            const objectStore = db.createObjectStore("users", { keyPath: "id" });
            objectStore.createIndex("nickname", "nickname", { unique: true });
        };
        indexedDB.onsuccess = function (event){
            const db = event.target.result;
            // const transaction = db.transaction(["users"], "readwrite");
            // const objectStore = transaction.objectStore("users");
            //
            // const users = { name: nickname };
            // const request = objectStore.add(users);
            //
            // request.onerror = function(event) {
            //     console.log("Error adding customer to database.");
            // };
            //
            // request.onsuccess = function(event) {
            //     console.log("Customer added to database.");
            // };
        }
    }
</script>
