<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/login.css'>
    <link rel='stylesheet' href='/stylesheets/sightings.css'>
</head>
<style>

    body { background-image: linear-gradient(
            to right bottom, #f8c751,
            #f4b440, #f0a130, #eb8d23, #e67818, #f4733f, #fd725e, #ff757b,
            #ff98b7, #f9bde2, #f4e1f9, #ffffff);
    }

</style>
<body>
<form action="/login" method="POST" id="login_form">
    <div class="wall">
        <div class="form">
            <div class="imgBx"><img src="/image/tinybird.gif"></div>
            <div class="formBx">
                <div class="formBx-c">
                    <h1>Bird Watching</h1>
                    <h3>NICKNAME</h3>
                    <input class="text" type="text" name="nickname" id="nickname">
                    <button id="login" class="btn" type="submit" value="Login">Login</button>
                </div>
            </div>
        </div>
    </div>
    </div>
</form>
</body>
</html>
<script>

    // const nicknameInput = document.getElementById('nickname');
    // const form = document.getElementById('login_form');
    // const submitBtn = document.getElementById('login');
    //
    // let db;
    //
    // const openRequest = window.indexedDB.open('bird_watching', 1);
    //
    // openRequest.addEventListener('error', () => console.error('Database failed to open'));
    //
    // openRequest.addEventListener('success', () => {
    //     console.log('Database opened succesfully');
    //
    //     db = openRequest.result;
    // });
    //
    // openRequest.addEventListener('upgradeneeded', e => {
    //
    //     db = e.target.result;
    //
    //     const objectStore = db.createObjectStore('users', { keyPath: 'id', autoIncrement:true });
    //
    //     objectStore.createIndex('nickname', 'nickname', { unique: false });
    //
    //     console.log('Database setup complete');
    // });
    //
    // form.addEventListener('submit', addData);
    //
    // function addData(e) {
    //
    //     e.preventDefault();
    //
    //     const newItem = { nickname: nicknameInput.value };
    //
    //     const transaction = db.transaction(['users'], 'readwrite');
    //
    //     const objectStore = transaction.objectStore('users');
    //
    //     const addRequest = objectStore.add(newItem);
    //
    //     addRequest.addEventListener('success', () => {
    //         nicknameInput.value = '';
    //     });
    //
    //     transaction.addEventListener('complete', () => {
    //         console.log('Transaction completed: database modification finished.');
    //     });
    //
    //     transaction.addEventListener('error', () => console.log('Transaction not opened due to error'));
    // }

</script>
