<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/login.css'>


</head>
<style>

    body { background-image: linear-gradient(
            to right bottom, #f8c751,
            #f4b440, #f0a130, #eb8d23, #e67818, #f4733f, #fd725e, #ff757b,
            #ff98b7, #f9bde2, #f4e1f9, #ffffff);
    }

</style>
<body>
<form action="" method="POST">
    <div class="wall">
        <div class="form">
            <div class="imgBx"><img src="/image/tinybird.gif"></div>
            <div class="formBx">
                <div class="formBx-c">
                    <h1>Bird Watching</h1>
                    <h3>NICKNAME</h3>
                    <input class="text" type="text" name="nickname">
                    <input class="btn" type="submit" value="Login">
                </div>

            </div>
        </div>
    </div>
    </div>
</form>
</body>
</html>
