<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/login.css'>
    <link rel='stylesheet' href='/stylesheets/sightings.css'>
</head>
<style>
    body { background-image: linear-gradient(
            to right bottom, #f8c751,
            #f4b440, #f0a130, #eb8d23, #e67818, #f4733f, #fd725e, #ff757b,
            #ff98b7, #f9bde2, #f4e1f9, #ffffff);
    }
</style>
<body>
<form action="/login" method="POST" id="login_form">
    <div class="wall">
        <div class="form">
            <div class="imgBx"><img src="/image/tinybird.gif"></div>
            <div class="formBx">
                <div class="formBx-c">
                    <h1>Bird Watching</h1>
                    <h3>NICKNAME</h3>
                    <input class="text" type="text" name="nickname" id="nickname">
                    <button id="login" class="btn" type="submit" value="Login">Login</button>
                </div>
            </div>
        </div>
    </div>
    </div>
    <script>
        // Check if service workers are supported
        if ('serviceWorker' in navigator) {
            // Register the service worker
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('/javascripts/upload_worker.js')
                    .then(registration => {
                        console.log('Service Worker registered with scope:', registration.scope);
                    })
                    .catch(error => {
                        console.error('Service Worker registration failed:', error);
                    });
            });
        }
    </script>
</form>
</body>
</html>
