<!DOCTYPE html>
    <html lang="en">
        <head>
            <%- include('includes/head.ejs') %>
        <link rel='stylesheet' href='/stylesheets/index.css'>
        </head>
    <body>
    <%- include('includes/menu.ejs') %>
    <title><%= title %></title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
<script>
    function initMap() {
        const map = new google.maps.Map(document.getElementById("map"), {
            zoom: 14,

        });

        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition((position) => {
                const pos = {
                    lat: position.coords.latitude,
                    lng: position.coords.longitude,
                };
                map.setCenter(pos);
                new google.maps.Marker({
                    position: pos,
                    map,
                    title: "You are here",
                    label: {
                        text: "You",
                        color: "#000",
                        fontWeight: "bold",
                    },
                });
            });
        }

        var previousMakers = []
        document.getElementById('getDataButton').addEventListener('click', () => {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition((position) => {
                    const pos = {
                        lat: position.coords.latitude,
                        lng: position.coords.longitude,
                    };

                    const distance = document.getElementById('distanceInput').value;

                    const formData = new FormData();
                    formData.append('latitude', pos.lat);
                    formData.append('longitude', pos.lng);
                    formData.append('distance', distance);

                    console.log('Latitude:', pos.lat);
                    console.log('Longitude:', pos.lng);
                    console.log('Distance:', distance);

                    fetch('http://localhost:3001/record/nearby', {
                        method: 'POST',
                        body: formData,
                    })
                        .then(response => response.json())
                        .then(data => {
                            // 在这里处理从服务器返回的 JSON 数据
                            console.log('data:', data);  // 将数据打印到控制台

                            // 获取 birdData 数据
                            const birds = data;
                            console.log('birds:', birds);
                            function setMarkers(map) {
                                if (previousMakers.length > 0) {
                                    deletedata(previousMakers);
                                }
                                for (var i = 0; i < birds.length; i++) {
                                    const bird = birds[i];

                                     const marker = new google.maps.Marker({
                                        position: { lat: parseFloat(bird.latitude), lng: parseFloat(bird.longitude) },
                                        map,
                                        icon: {
                                            url: "https://cdn3.iconfinder.com/data/icons/halloween-detailed/64/halloween_owl-50.png",
                                            scaledSize: new google.maps.Size(50, 50),
                                        },
                                        title: "NearbyBirds",
                                        zIndex: i,
                                    });
                                    const infowindow = new google.maps.InfoWindow({
                                        content: '<img src="' + bird.picture + '" width="200" height="200"><br>' + bird.description,
                                        maxWidth: 300,
                                    });

                                    marker.addListener("click", () => {
                                        infowindow.open({
                                            anchor: marker,
                                            map,
                                        });
                                    });
                                    console.log('setMarkers: ', marker)
                                    previousMakers.push(marker)
                                }

                            }

                            function deletedata(previousMakers){
                                console.log('deletedata: ', previousMakers)
                                //删除标注
                                for (var i = 0; i < previousMakers.length; i++) {
                                    previousMakers[i].setMap(null);
                                }}

                            setMarkers(map); // 设置鸟的标记
                            // 可以执行其他操作，例如更新页面显示等
                        })
                        .catch(error => {
                            console.log('Error:', error);
                            // 处理错误
                        });



                });
            }
         });

}
    window.initMap = initMap;
</script>

</script>
    <div class="container">
        <input type="text" id="distanceInput" placeholder="Enter distance">
        <button id="getDataButton">Get Nearby Birds</button>
    </div>
<div id="map"></div>

    <script
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDEXZPPJSRJ5bgO7BekmmN1nBP6es7Vshs&callback=initMap&v=weekly&language=en"
            defer
    ></script>
    </body>
<style>
    .container{
        justify-content: center;
        text-align: center;
        align-content: center;

    }

    #distanceInput {
        margin-bottom: 10px;
        padding: 8px;
        font-size: 16px;
        border: 1px solid #ddd;
        border-radius: 4px;
        margin-top: 35px;
    }

    #getDataButton {
        padding: 10px 20px;
        font-size: 16px;
        background-color: orange;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    #getDataButton:hover {
        background-color: red;
    }

    #map {
        height: 600px;
        width: 100%;
        margin-top: 20px;
    }

</style>
</body>
</html>