<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('includes/head.ejs') %>
        <link rel='stylesheet' href='/stylesheets/upload.css'>
</head>

<body>


    <%- include('includes/menu.ejs') %>
        <div class="main">
            <div class="title">
                <h3>
                    <%= title %>
                </h3><br>
            </div>
            <form class="form-container" action="/record/upload/add" method="post" enctype="multipart/form-data">
                <div class="all_box">
                    <div class="upload_box">
                        <label>Upload a picture</label>
                        <div class="container_picture">
                            <div id="upload">
                                <label for="file">
                            <img src="/image/upload.png">
                        </label>
                                <input type="file" id="file" name="picture" style="display:none">
                            </div>
                            <div class="pre">
                                <img class="img-thumbnail" src="" id="preview" style="justify-content: center;text-align: center">
                            </div>
                        </div>
                        <div id="upload_success"></div>
                    </div>

                    <div class="location_box">
                        <div class="form-group_location">
                            <label>Location</label>
                            <input type="text" id="location_input" class="form-control" name="location" placeholder="Please enter the bird's location">
                            <button type="button" id="location_button_click">Get Current Location</button>
                        </div>

                    </div>
                    <div class=" description_box">
                        <div class="form-group_de">
                            <label>Description</label>
                            <textarea class="form-control" id="description" rows="6" name="description" placeholder="Please enter your description"></textarea>

                        </div>
                    </div>
                    <div class="identification-time_box">
                        <!--  -->
                        <div class="form-group_tim">
                            <label>Time</label>
                            <input type="datetime-local " id="time" name="time" value=" "><br>
                            <button type="button" id="time_button_click">Get Current Time</button><br><br>
                        </div>
                        <div class="form-group_ind">
                            <label>IDENTIFICATION</label>
                            <select class="form-control" id="identification" name="identification"></select>
                            <button type="button" id="identify_button_click">Get identification</button><br><br>
                        </div>
                    </div>

                </div>
                <div>
                    <button type="submit">UPLOAD</button>
                </div>
            </form>
        </div>
        <script>
            var file = document.querySelector('#file ');
            var preview = document.querySelector('#preview ');
            file.onchange = function() {
                    var reader = new FileReader();
                    console.log(this.files[0])
                    reader.readAsDataURL(this.files[0]);
                    reader.onload = function() {
                        console.log(reader.result)
                        preview.src = reader.result
                    }
                }
                //document.getElementById("upload ").style.display = "none ";

            function getCurrentTime() {
                var now = new Date();
                var datetime = now.toISOString().slice(0, 16);
                document.getElementById("time").value = datetime;
            }



            function getLocation() {
                if (navigator.geolocation) {
                    navigator.geolocation.getCurrentPosition(showPosition);
                } else {
                    alert("Geolocation is not supported by this browser.");
                }
            }

            function showPosition(position) {
                var latitude = position.coords.latitude;
                var longitude = position.coords.longitude;
                document.getElementById("location_input").value = latitude + "," + longitude;
            }

            function checkInputFilledById(e) {
                console.log(e);
            }

            const location_button = document.getElementById("location_button_click");
            location_button.addEventListener("click", getLocation);

            const time_button = document.getElementById("time_button_click");
            time_button.addEventListener("click", getCurrentTime);

            //const idedntify_button = document.getElementById("identify_button_click");
            //time_button.addEventListener("click", getIdentification);

            const description = document.getElementById("description");
            description.addEventListener("input", checkInputFilledById);
            console.log(description);

            const listen_location = document.getElementById("location_input");
            listen_location.addEventListener("input", checkInputFilledById);
            console.log(listen_location);

            const time = document.getElementById("time");
            time.addEventListener("input", checkInputFilledById);
            console.log(time);
            const identificationSelect = document.getElementById("identification")
            identificationSelect.addEventListener("click", async() => {
                try {
                    const response = fetch('/record/upload/bird_list', {
                            headers: {
                                'Content-Type': 'application/json',
                                'Accept': 'application/json'
                            }
                        }).then(function(response) {
                            return response.json();
                        })
                        .then(data => {
                            // Loop through the data and create options
                            console.log(data);
                            for (let i = 0; i < data.data.bird_list.length; i++) {
                                const option = data.data.bird_list[i];
                                const optionElement = document.createElement("option");
                                optionElement.value = option;
                                optionElement.textContent = option;
                                identificationSelect.appendChild(optionElement);
                            }
                        })
                } catch (error) {
                    console.error("Error fetching bird list:", error);
                }
            });



            const identifyButton = document.getElementById("identify_button_click");
            //identifyButton.addEventListener("click", fetchBirdList);
            identifyButton.addEventListener("click", () => {
                const identificationValue = identificationSelect.value;
                console.log("Selected identification:", identificationValue);
                if (identificationValue) {
                    const data = {
                        identification: identificationValue,
                    };
                    fetch('/record/upload/identifier', {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify(data)
                        }).then(response => response.json())
                        .then(data => {
                            if (data.code === 200) {
                                console.log("Found bird URI:", data.data.birdURI);
                                identificationSelect.value = data.data.birdURI;
                            } else {
                                identification.value = "NA";
                                console.log("Bird not found on DBpedia.");
                            }
                        })
                        .catch(error => {
                            console.error("Error fetching bird URI:", error);
                        });
                } else {
                    console.log("Please enter both identification and description.");

                }
            });
        </script>
</body>

</html>