@media screen and (max-width: 400px) {
    .startTime,
    .endTime,
    .myInput,
    .search-container input,
    .search-container select,
    .search-container button,
    .table-container {
        width: 200px;
        margin-bottom: 10px;
    }




    td:nth-of-type(4), th:nth-of-type(4) {
        display: none;
    }
    .pagination li {
        display: block;
        margin-bottom: 5px;
    }
    h3 {
        font-size: 1.2em;
    }
    button {
        padding: 10px;
        font-size: 0.8em;
    }
    .menu {
        flex-direction: column;
    }
}

select {
    font-size: 14px;
    height: 30px;
    color: #333;
    border: 2px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: none;
    transition: border-color 0.3s ease;
}

select:focus {
    outline: none;
    border-color: orange;
}
button {
    border-radius: 30px;
    background: white;
    border-color: orange;

}
button:active {
    background-color: #555;
}
input:focus{
    outline: none;
    border-color: orange;
}
table {
    border-collapse: collapse;
}
th {
    background-color: orange;
    color: white;
}
.sort-btn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

.sort-btn .arrow-up {
    display: none;
}
.sort-btn .arrow-down {
    display: none;
}

.sort-btn[data-sort-order="ascend"] .arrow-down {
    display: none;
}

.sort-btn[data-sort-order="ascend"] .arrow-up {
    display: inline-block;
}

.sort-btn[data-sort-order="descend"] .arrow-down {
    display: inline-block;
}
